@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-scrollbar {
    overflow-y: scroll; 
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a90e2; 
    border-radius: 6px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #357ab7; 
  }
  
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a90e2 #f1f1f1;
  }
